<!DOCTYPE html>
<html>

<head>
  <lang="en-us">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New York Times Scraper</title>
    {{!-- Bootstrap Styling --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    {{!-- Glyphicons --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    {{!-- Styles --}}
    {{!-- <link rel="stylesheet" href="./assets/css/style.css"> --}}
    {{!-- Google Fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Sunflower:300" rel="stylesheet">

    <style>
      body { background-color: #F2F6D0 }
      #wrapper {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
      }
      .threads {
        display: inline-block;
        overflow: auto;
        width: 60%;
        height: 700px;
      }
      #notes {
        float: right;
        width: 30%;
      }
      textarea, input {
        display: block;
        width: 100%;
        background-color: #FCF5C7;
      }
      input {
        height: 36px;
        font-size: 24px;
      }
      textarea {
        height: 200px;
        font-size: 18px;
      }
    </style>
</head>

<body>
  {{{ body }}}
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="./assets/js/app.js"></script>
</body>

</html>